@import "tailwindcss";

@theme {
  --color-jet-black: #1f2937;
  --color-dusk-blue: #364c6d;
  --color-dusty-denim: #688dbc;
  --color-alice-blue: #e2e8f0;
  --color-mikan-orange: #ffbc49;
  --color-apricot-cream: #f7cc83;
}
